* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #000000;

    &.main-bg {
        background-image: url(img/main-bg-1.png);
        background-size: cover;
        padding: 4.25em 1.5em 0 1.5em; 
    }

    &.small-bg {
        padding: 2.125em 1.5em 0.5em 1.5em;
        background-image: url(img/main-bg-small.png);
        background-size: cover;
    }
}
.head {
    margin-bottom: 40.7px;
}
.close {
    display: block;
    margin-bottom: 9.56em;
}
.close-icon {
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.4);
}
.content {
    margin-bottom: 2.875em;
}

#title {
    font-family: 'SF ProH';
    font-weight: 800;
    font-size: 2.625em;
    line-height: 110%;
    text-align: center;
    color: #ffffff;
}

.cards {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 3em;
}

.card {
    width: 104px;
    height: 138px;
    display: flex;
    align-items: flex-end;
    padding: 10.8px 7.2px;
}

.card:nth-child(1) {
    background-image: url(img/card1.png);
    background-size: cover;
}
.card:nth-child(2) {
    background-image: url(img/card2.png);
    background-size: cover;
}
.card:nth-child(3) {
    background-image: url(img/card3.png);
    background-size: cover;
}

.card_title {
    font-family: 'SF ProR';
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.65px;
}

.offer {
    font-family: 'SF ProS';
    border-radius: 2em;
    width: auto;
    height: 3.5em;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10.873126983642578px);
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    padding: 0 1.5em;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover, &.selected {
        border: 1px solid #fff;
        backdrop-filter: blur(10.873126983642578px);
        background: rgba(255, 255, 255, 0.3);
    }
}
.offer-title {
    font-size: 1em;
    font-family: 'SF ProS';
}
.offer-subtitle, .offer-price {
    opacity: 0.7;
    font-family: 'SF ProR';
}

.offer-yearly {
    position: relative;
    &::before {
        content: 'Best offer';
        position: absolute;
        font-family: 'SF ProS';
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: #141131;
        background-color: #ffffff;
        border-radius: 10px;
        height: 20px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
        font-weight: 700;
        top: -10px;
        right: 22px;
        line-height: 19px;
        width: 119px;
        text-align: center;
    }
}


.continue {
    display: block;
    font-family: 'SF ProS';
    height: 2.8em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border-radius: 2em;
    line-height: 2.8em;
    color: #070b33;
    font-size: 20px;
    margin-top: 15px;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 262px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.footer-link {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-family: 'SF ProR';
}
.small-bg {
    .close {
        margin-bottom: 4.125em;
    }
    .cards {
        margin-bottom: 2.4em;
    }
    .content {
        margin-bottom: 1.5em;
    }
    .continue {
        margin-top: 0;
        line-height: 2.5em;
    }
    .footer {
        padding-bottom: 0;
    }

}
//languages-styles
.en, .ja, .es {
    .offer {
        padding: 0 4.15em 0 1.5em;
    }
}
.de {
    .content {
        margin-bottom: 1em;
    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
        padding-bottom: 0;
        width: 22.25em;
    }
}
.es, .pt {
    .card_title {
        font-size: 10px;
        color: #fff;
        letter-spacing: 0;
    }
}
.fr {
    .footer {
        width: 2.25em;
    }
}
@media only screen and (min-resolution: 192dpi),
       only screen and (min-resolution: 2dppx) { 
        .banner {
            &.main-bg {
                background-image: url(img/main-bg.png);
            }
        
            &.small-bg {
                background-image: url(img/main-bg-small-1.png);
            }
        }

        .card:nth-child(1) {
            background-image: url(img/card1x2.png);
            background-size: cover;
        }
        .card:nth-child(2) {
            background-image: url(img/card2x2.png);
            background-size: cover;
        }
        .card:nth-child(3) {
            background-image: url(img/card3x2.png);
            background-size: cover;
        }
}

@media only screen and (max-width: 375px) {

    .banner {
    
        &.main-bg {
            padding: 3em 1.5em 0 1.5em; 
        }
    }

    .de, .fr {
        .banner {
            &.main-bg {
                padding: 0.4em 1.5em 0 1.5em;
                height: auto; 
                background-color: #000000;

                .footer {
                    gap: 8px;
                    padding-bottom: 1em;
                    width: 21.25em;
                }
            }

            &.small-bg {
                padding: 0.4em 1.5em 0 1.5em;
                height: auto;
                background-color: #000000;
                .close {
                    margin-bottom: 3.2em;
                }
                .footer {
                    gap: 8px;
                    padding-bottom: 1em;
                    width: 21.25em;
                }
            }
        }
    }
  }
